<div class="container h-100">
  <div class="row course h-100">
    <div class="col-md-3 course-menu">

      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" class="w-100">

        <ngb-panel>
          <ng-template ngbPanelTitle>
            <header class="row menu-module-header">
              <div class="text-center header-number">
                <div class="circle">
                  <span>1</span>
                </div>
              </div>
              <div class="header-text">Основи веб розробки</div>
              <div class="header-icon">3</div>
            </header>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="row m-0">
              <div class="col menu-module-content">
                <div class="menu-module-item">
                  <a href="">Урок 1.1</a>
                </div>
                <div class="menu-module-item">
                  <a href="">Урок 1.2</a>
                </div>
                <div class="menu-module-item">
                  <a href="">Урок 1.3</a>
                </div>
              </div>

            </div>
          </ng-template>
        </ngb-panel>

        <ngb-panel>
          <ng-template ngbPanelTitle>
            <header class="row menu-module-header">
              <div class="text-center header-number">
                <div class="circle">
                  <span>2</span>
                </div>
              </div>
              <div class="header-text">Основи HTML</div>
              <div class="header-icon">3</div>
            </header>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="row m-0">
              <div class="col menu-module-content">
                <div class="menu-module-item">
                  <a href="">Урок 2.1</a>
                </div>
                <div class="menu-module-item">
                  <a href="">Урок 2.2</a>
                </div>
                <div class="menu-module-item">
                  <a href="">Урок 2.3</a>
                </div>
              </div>

            </div>
          </ng-template>
        </ngb-panel>

        <ngb-panel [disabled]="true">
          <ng-template ngbPanelTitle>
            <header class="row menu-module-header">
              <div class="text-center header-number">
                <div class="circle">
                  <span>3</span>
                </div>
              </div>
              <div class="header-text">Основи CSS</div>
              <div class="header-icon">3</div>
            </header>
          </ng-template>
          <ng-template ngbPanelContent>
          </ng-template>
        </ngb-panel>

      </ngb-accordion>

    </div>
    <div class="col-md-9">
      <div class="course-header">
        <div>
          <h1 class="text-white display-4">Урок 2.3</h1>
        </div>
      </div>
      <div class="course-content">
        content
      </div>
    </div>
  </div>
</div>