<footer class="footer">
  <div class="container">
    <div class="row justify-content-center text-muted">
      <div class="col">
        <div class="footer-links row">
          <section class="col">
            <ul class="navbar-nav mr-auto">
              <li class="list-item nav-header">
                Навчання
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">link</a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">Допомогти?</a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">Допомогти?</a>
              </li>
            </ul>
          </section>
          <section class="col">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item nav-header">
                Про нас
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">Допомогти?</a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">Допомогти?</a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">Допомогти?</a>
              </li>
            </ul>
          </section>
          <section class="col">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item nav-header">
                Допомогти?
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">Допомогти?</a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">Допомогти?</a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">Допомогти?</a>
              </li>
            </ul>
          </section>
        </div>
        <br>
        <div class="copyright">
          © 2017 створено by valpioner.
        </div>
      </div>

      <div class="col border-left pl-4">
        <div class="logo">
          <img src="/assets/valpioner.png" alt="valpioner">
        </div>
        <br>
        <p><b>Valpioner</b> - навчальний ресурс де ви легко з повного нуля зможете вивчити веб-програмування на основі тренінг-курсів,
          відео-уроків, навчальних матеріалів та практичних занять. </p>
        <p>Наша основна задача - підняти вас до рівня <b>Junior Web Developer</b> і підготувати вас до першої співбесіди.</p>
      </div>
    </div>
  </div>
</footer>