<div class="user-list">

  <!-- <div *ngFor="let user of users">
    <div class="card user-card">
      <div class="card-header">User</div>
      <div class="card-body">
        <ul>
          <li>id: {{user._id}}</li>
          <li>name: {{user.name}}</li>
          <li>username: {{user.username}}</li>
          <li>email: {{user.email}}</li>
          <li>isAdmin: {{user.isAdmin || false}}</li>
        </ul>
        <button class="btn btn-sm" (click)="editUser(user._id)">
          Edit
        </button>
        <button class="btn btn-sm" (click)="deleteUser(user._id)">
          Delete
        </button>
      </div>
    </div>
  </div> -->

  <button class="btn btn-primary" (click)="createUser()">New User</button>

  <br/>

  <user 
    *ngFor='let user of users' 
    [user]="user" 
    [class.edited]="isEdited(user)" 
    (onDelete)="deleteUser($event)">
  </user>

</div>