<nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top">

  <div class="container">
    <a class="navbar-brand" href="#">
      <div class="logo">
        <img src="/assets/itgeneration_logo2.png" alt="itgeneration.com.ua">
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsCollapce"
      aria-controls="navbarsCollapce" aria-expanded="false" aria-label="Toggle navigation"
      (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsCollapce" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav ml-auto">
        <!-- <li *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
        </li> -->
        <li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" [routerLink]="['/register']">Register</a>
        </li>
        <li *ngIf="authService.loggedIn()" class="nav-item">
          <a class="nav-link fa fa-comment">
          </a>
        </li>
        <li *ngIf="authService.loggedIn()" class="nav-item profile" ngbDropdown>
          <div class="btn-group">
            <a class="nav-link" id="profileDropDown" ngbDropdownToggle>
              <i class="fa fa-user"></i>
            </a>
            <div ngbDropdownMenu aria-labelledby="ngbDropdownToggle" class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" [routerLink]="['/dashboard']">Dashboard</a>
              <a class="dropdown-item" [routerLink]="['/course']">Course</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]="['/profile']">Profile</a>
              <a *ngIf="authService.isAdmin()" class="dropdown-item" [routerLink]="['/admin']">Admin</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="onLogoutClick()">Logout</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

</nav>